<nav class="navbar navbar-default navbar-expand-md navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Men<span>tor</span></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-6 col-sm-6">
        <form>
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="search-bar" class="input-group-text green lighten-3 ml-2"> <i
                  class="material-icons text-light">youtube_searched_for</i>
              </label>
              <input class="form-control search" type="search" placeholder="Search Here" aria-label="Search" name="Search"
                id="search-bar" [(ngModel)]='searchKey' (keyup)="search()" size="50">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
              <a class="nav-link" routerLink="/approve">Approve</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student">Student Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mentor">Mentor Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSignOut()"><i class="material-icons">
              exit_to_app
              </i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>