<br>
<h2 class="mt-4 pt-4" style="text-align: center;">Cart</h2>
<div  class="alert alert-secondary mt-4 pt-4 col-12 col-md-12 col-lg-6" style="margin-left: 26%; text-align:center;" *ngIf="!cartExists else cartItems"> <span class="mt-4 pt-4">No items in cart. Use 'Add to Cart' option in product list.</span>
</div >
<ng-template #cartItems>
<div class="container mt-4 mb-4 pt-4">
  <div class="list-group mx-auto col-md-6" >
    
    <div  *ngFor="let item of cart.menuItemList"
      class="list-group-item list-group-item-action">
      <div class="d-flex justify-content-between">
        <label class="list-group-item-heading text-muted"><h3>{{item.name}}</h3></label>
        <label class="text-danger">{{item.price | currency:'INR'}}</label>
      </div>
      <p class="new-user">
       <i class="material-icons text-muted text-down delete-icon-size" (click)="onRemoveItem(item.id)">delete_forever</i>
      </p>
    </div> 
     <div 
      class="list-group-item list-group-item-action">
      <div class="d-flex justify-content-between">
        <label class="list-group-item-heading"><h2>Total</h2></label>
        <label class="text-danger ml-auto">{{cart.total | currency:'INR'}}</label>
      </div>
    </div>
  </div>
</div>
</ng-template>
<div class="row justify-content-center">
  <div class="col-12 col-md-12 col-lg-6 mt-4 ">
      <a  class="btn btn-primary"
      routerLink="/vehicleList">Continue with Shopping </a>
  </div>
  </div>