<!--Banner-->
<div class="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center mx-auto">
            <div class="text-border">
              <h2 class="text-dec">Trust & Quality</h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Learning Today . . . Leading Tomorrow.</p>
              <a href="#feature" class="mouse-hover">
                  <div class="mouse"></div>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Banner-->
<!--Feature-->
<section id="feature" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Features</h2>
        <hr class="bottom-line">
      </div>
      <div class="feature-info">
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Latest Technologies</h4>
              <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non
                urna in eros tincidunt convallis id id nisi in interdum.</p>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-css3"></i>
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Toons Background</h4>
              <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non
                urna in eros tincidunt convallis id id nisi in interdum.</p>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-drupal"></i>
            </div>
          </div>
        </div>
        <div class="fea">
          <div class="col-md-4">
            <div class="heading pull-right">
              <h4>Award Winning Design</h4>
              <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non
                urna in eros tincidunt convallis id id nisi in interdum.</p>
            </div>
            <div class="fea-img pull-left">
              <i class="fa fa-trophy"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ feature-->

<!--Courses-->
<section id="courses" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Courses</h2>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p> -->
        <hr class="bottom-line">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="https://wallpaperplay.com/walls/full/8/9/8/164674.jpg" class="img-responsive">
          <figcaption>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur
              libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="http://www.gititsolution.com/wp-content/uploads/2016/04/aspdotnet.png" class="img-responsive">
          <figcaption>
            <h3>.Net Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur
              libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>

      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="http://www.allaboutweb.biz/wp-content/uploads/2017/09/What-is-Full-Stack-Development-759x500.jpg"
            class="img-responsive">
          <figcaption>
            <h3>Java Full Stack Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur
              libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img
            src="https://www.governmenteuropa.eu/wp-content/uploads/2018/09/GOV27-Cybersecurity-Terrorism-IH-1182.jpg"
            class="img-responsive">
          <figcaption>
            <h3>Cyber Security</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur
              libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="https://www.plustechnologies.com/wp-content/uploads/2019/03/SAP.jpg" class="img-responsive">
          <figcaption>
            <h3>SAP Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur
              libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-md-4 col-sm-6 padleft-right">
        <figure class="imghvr-fold-up">
          <img src="http://www.letustweak.com/wp-content/uploads/2016/10/data-science-word-cloud.jpg"
            class="img-responsive">
          <figcaption>
            <h3>Data Science</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur
              libero fugiat, similique quis.</p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>
  </div>
</section>
<!--/ Courses-->
